<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%#= link_to "注册", new_user_registration_path  %>
  <% if user_signed_in? %>
    您：<%= current_user.email %> 已登陆。
  <% else %>
    <%= link_to "注册", new_user_registration_path %>
  <% end %>
</nav>

<%= link_to '登陆', new_user_session_path  %>
<% flash.each do |key, value| %>
 <div class="flash" id="<%= key %>">
   <%= value %>
 </div>
<% end %>

<h1><%= link_to 'Ticketee', root_path  %></h1>
<%= yield %>

</body>
</html>
